.btn-bd-control {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: #a0a0a0;
  --bs-btn-border-color: #1b1b1b;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #1b1b1b;
  --bs-btn-hover-border-color: #1b1b1b;
  --bs-btn-focus-shadow-rgb: black;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
}

.btn-bd-number {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: #313131;
  --bs-btn-border-color: #313131;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #a0a0a0;
  --bs-btn-hover-border-color: #a0a0a0;
  --bs-btn-focus-shadow-rgb: black;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
}

.btn-bd-operation {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: #f69906;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: #f69906;
  --bs-btn-hover-bg: #1b1b1b;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: black;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
}
